<nav show-authed="false">
    <!-- Links -->
    <ul class="menu">
      <li>
        <a ui-sref="app.home">Home</a>
      </li>
      <li>
        <a ui-sref="app.contact">Contact</a>
      </li>
      <li>
        <a ui-sref="app.login">Sign in</a>
      </li>
      <li>
        <a ui-sref="app.register">Register</a>
      </li>
      <li>
        <a ui-sref="app.listanews"> Noticias
        </a>
      </li>
      <li>
        <a ui-sref="app.users"> Usuarios
        </a>
      </li>
      <li>
        <a ui-sref="app.promotions"> Promociones
        </a>
      </li>
    </ul>
  </nav>
  
<!-- AQUI IRA EL MENU CUANDO ESTEN LOGUADOS LOS USUARIOS -->
  
  
  <!--header title-->
  <div id="title">
    <h1>GOLSMEDIA</h1>
  </div>