<div class="news-preview">
    <favorite-btn news="$ctrl.news" class="pull-xs-left">
        {{$ctrl.news.favoritesCount}}
    </favorite-btn>
    <a ui-sref="app.detailsNews({slug:news.slug})" class="preview-link">
        <h1 ng-bind="$ctrl.news.title"></h1>
        <p ng-bind="$ctrl.news.description"></p>
        <span>Read more...</span>
        <ul class="tag-list">
            <li class="tag-default tag-pill tag-outline" ng-repeat="tag in $ctrl.news.tagList">
                {{tag}}
            </li>
        </ul>
    </a>
</div>